h1=label
h3(id="count")=count
script.
	const websocketBase = '#{websocketLink}';
	
	var socket80 = new WebSocket(`${websocketBase}:80`);
	var socket443 = new WebSocket(`${websocketBase}:443`);
	socket80.onopen = () => {
		socket80.send('Hello');
	};
	socket80.onmessage = onmessage;
	socket443.onopen = () => {
		socket443.send('Hello');
	};
	socket443.onmessage = onmessage;
	
	function onmessage(message) {
		document.getElementById('count').innerText = message.data;
	}