h1=label
h3(id="count")=count
script.
	const websocketBase = '#{websocketLink}';
	
	var socket80 = {}, socket443 = {};
	try {
		socket80 = new WebSocket(`ws:/${websocketBase}:80`);
	} 
	catch(err) {
		console.log('Failed to start socket80');
	}
	try {
		socket443 = new WebSocket(`wss:/${websocketBase}:443`);
	}
	catch(err) {
		console.log('Failed to start socket443');
	}
	
	socket80.onopen = () => {
		socket80.send('Hello');
	};
	socket80.onmessage = onmessage;
	socket443.onopen = () => {
		socket443.send('Hello');
	};
	socket443.onmessage = onmessage;
	
	function onmessage(message) {
		document.getElementById('count').innerText = message.data;
	}